PORT=1000
NODE_ENV=
TEST_OTP=
OTP_EXPIRY_MINUTES=
OTP_RESEND_INTERVAL_SECONDS=

MONGODB_URI=
JWT_SECRET=
JWT_EXPIRY_MINUTES=
FRONTEND_URL=http://localhost:5173
GOOGLE_EMAIL=your-email@gmail.com
GOOGLE_CLIENT_ID=your-google-client-id
GOOGLE_CLIENT_SECRET=your-google-client-secret
GOOGLE_REFRESH_TOKEN=your-google-refresh-token
